.article-prev-card{
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;

    img{
        width: 100%;
        transition: 0.2s ease-in-out;
        animation: imgAn 0.5s ease-in-out;
    }

    @keyframes imgAn {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 100%;
        }
    }

    .article-prev-card-content{
        padding: 10px 0px;

        .article-prev-card-title{
            margin-bottom: 10px;
            font-size: 1.2em;
            font-weight: bold;
        }
    
        .article-prev-card-time{
            margin: 5px 0;
            font-size: 0.7em;
        }
    
        .article-prev-card-desc{
            font-size: 0.9em;
            margin-bottom: 10px;
            line-height: 30px;
        }
        .profile-name{
            color: #939393;
            font-size: 0.8em;
            text-align: center;
        }
    }

    
}

@media screen and (min-width: 500px){
    .article-prev-card{
        margin: 20px 5em;
    }
}

@media screen and (min-width: 768px){
    .article-prev-card{
        width: 300px;
        overflow: hidden;
        margin-right: 40px;
        cursor: pointer;
        margin: 20px;
        .cover{
            width: 100%;
            height: 158px;
            border-radius: 10px;
            transition: 0.5s ease;
            overflow: hidden;
        }
    
        .article-prev-card-content{
            background-color: white;
            padding: 10px 0px;
            
            .article-prev-card-title{
                margin-bottom: 0px;
            }
        
            .article-prev-card-time{
                margin-bottom: 20px;
            }
        
            .article-prev-card-desc{
                font-size: 0.9em;
                margin-bottom: 10px;
            }
        }
    }

    .article-prev-card:hover{
        img{
            transform: scale(1.05);
        }
    }
}