.article-form{
    margin: 20px;

    .title{
        font-size: 1.7em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    label{
        display: block;
        margin-top: 20px;
    }
    input{
        height: 50px;
        width: 100%;
        padding: 20px;
        letter-spacing: 1px;
        border: none;
        border-bottom: 2px solid rgb(192, 191, 191);
        transition: 0.2s ease-in;
    }
    input:focus, textarea:focus{
        outline: none;
        border-bottom: 2px solid black;
        border-radius: 0;
    }
    textarea{
        width: 100%;
        height: 200px;
        border: none;
        border-bottom: 2px solid rgb(192, 191, 191);
        background-color: rgb(243, 242, 242);
        border-radius: 5px;
        transition: 0.2s ease-in;
        padding: 10px;
    }

    .btns{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .get-cover-image{
        input{
            display: none;
        }
        div{
            margin-top: 10px;
            padding: 10px;
            background-color: black;
            color: white;
            border-radius: 5px;
            text-align: center;
        }
    }
    
}

@media screen and (min-width: 500px){
    .article-form{
        margin: 20px 5em;
    }
}

@media screen and (min-width: 768px){
    .article-form{
        margin: 30px 10em;
    }
}

@media screen and (min-width: 1200px){
    .article-form{
        margin: 40px 15em;
    }
}