.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .profile-photo{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 50px;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }

    .bio{
        .user-name{
            font-size: 1.5em;
            font-weight: bold;
        }
        .user-email{
            font-size: 1.2em;
            color: #7e7e7e;
        }
    }

    button{
        margin: 20px 0;
        padding: 14px 50px;
        background-color: black;
        color: white; 
        border-radius: 5px;
        border: 2px solid black;
        transition: 0.3s;
        cursor: pointer;
    }
    button:hover{
        color: black;
        background-color: white;
    }
    button:active{
        background-color: black;
        color: white;
    }

    .logout-btn{
        display: flex;
        align-items: center;
        color: #da0000;
        img{
            margin-right: 10px;
        }
    }
}

.captions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    font-size: 1.2em;
    font-weight: 500;
    div{
        font-size: 0.7em;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

@media screen and (min-width: 500px){
    .profile{
        margin-top: 50px;
    }
    .captions{
        margin: 0 2em;
    }
}

@media screen and (min-width: 768px){
        .profile{
            .bio{
                .user-name{
                    font-size: 2em;
                }
                .user-email{
                    font-size: 1em;
                }
                
            }
        }
        .articles{
            display: flex;
            flex-wrap: wrap;
        }
        .captions{
            margin-bottom: 20px;
        }
}

@media screen and (min-width: 1000px){
    .articles, .captions{
        margin: 10px 10em;
    }
}

@media screen and (min-width: 1200px){
    .articles, .captions{
        margin: 20px 15em;
    }
}